{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <title>ProCom</title>
</head>
<body>
    <header id="base_header">
        <ul class="header_list">
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">CREATE</a></li>
            <li><a href=""><img id="procom-logo" src="/static/image/procom-logo.png" alt="ProCom-logo"></a></li>
            <li><a href="">SCHED</a></li>
            <li><a href="">CONTACT</a></li>
            <li class="sub_links"><a href="https://github.com/ProCom-mu"><img src="/static/image/github-icon.png" alt="GitHub-logo"></a></li>
            <li class="sub_links"><a href=""><img src="/static/image/twitter-icon.png" alt="Twitter-logo"></a></li>
            <li class="sub_links"><a href=""><img src="/static/image/login-arrow.png" alt="Login-arrow"></a></li>
        </ul>
    </header>
    <div class="base_container">
        <div class="left_container">
            
        </div>
        <div class="center_container">
            <div class="contents_container_1">
                <div class="ariticle paragragh_1">
                    <h1>RISE AS ONE</h1>
                    <p>
                        みなは直接一々その担任界といった方の一方を教えたない。<br>
                        もし前に赴任らはどうかその講演ましょますだってに洗わているないには<br>
                        関係下げだですと、とてもにも申さなたうで。<br>
                        文章がかかるですのももし場合がほぼうででしょ。
                    </p>
                </div>
                <div class="hedgehog_right">
                    <img src="/static/image/harry.png" alt="Harry">
                </div>
            </div>
            <div class="contents_container_2">
                <div class="ariticle paragragh_2">
                    <h1>ABOUT US</h1>
                    <p>
                        自分ちのルア絵rんb技雨亜hwんr後かをgルバfjgなろアッrgぬろkんdじょいえおっjなじょえらrjgwkbにおgあ<br>
                        ウェkjゔぉろいえんごんふぉあろあえr、r、語、rピアノgれに
                    </p>
                </div>
                <div class="hedgehog_left">
                    <img src="/static/image/harry_read_book.png" alt="Harry read book">
                </div>
            </div>
        </div>
        <div class="right_container">

        </div>
    </div>
</body>
</html>
