{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <title>ProCom</title>
</head>
<body>
    <header>
        <ul class="header_list">
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">CREATE</a></li>
            <li><a href="">SCHED</a></li>
            <li><a href="">CONTACT</a></li>
        </ul>
    </header>
    <div class="base_container">
        <div class="left_container">
            <p>abc</p>
        </div>
        <div class="center_container">
            <p>ABCDEFG</p>
        </div>
        <div class="right_container">
            <p>xyz</p>
        </div>
    </div>
</body>
</html>
